<div class="-info">
    <div>
        <div>
            <ul class="-info-list">
                <li class="-info-item">
                    <div>
                        学历/本科
                    </div>
                </li>
                <li class="-info-item">
                    <div>
                        坐标/成都
                    </div>
                </li>
                <li class="-info-item">
                    <div>
                        状态/在职
                    </div>
                </li>
                <li class="-info-item">
                    <div>
                        年龄/26岁
                    </div>
                </li>
            </ul>
        </div>
        <div class="-info-des">
            <p>11111111111</p>
            <p>11111111111</p>
            <p>11111111111</p>
        </div>
    </div>
</div>