.-info{
	.-info-list{
		max-width: 800px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.-info-item{
			width: 100px;
			height: 100px;
			border: #000 1px solid;
			margin: 0 20px;
		}
	}
	.-info-des{
		text-align: center;
	}
}