<div class="-info">
    <set-title title="$ctrl.title"></set-title>
    <div class="-content">
        <div>
            <ul class="-info-list">
                <li class="-info-item" ng-repeat="item in $ctrl.infoList track by $index">
                    <div>
                        <div></div>
                        <div>{{item.key}}{{item.value}}</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="-info-des">
            <p ng-repeat="item in $ctrl.desList track by $index">{{item}}</p>
        </div>
    </div>
</div>