<div class="-contact">
    <div class="-title" ng-bind="$ctrl.title"></div>
    <div class="-content" ng-class="{'-content-en':$ctrl.isEng}">
        <div class="-contact-des1" ng-class="{'-contact-des1-en':$ctrl.isEng}">
            <span ng-repeat="item in $ctrl.desList1 track by $index" ng-bind="item"></span>
        </div>
        <div class="-contact-des2">
            <p ng-repeat="item in $ctrl.desList2 track by $index" ng-bind="item"></p>
        </div>
        <!--<div class="-contact-download">-->
            <!--<div class="-download-title">{{$ctrl.download}}</div>-->
            <!--<div class="-download-list">-->
                <!--<a href="{{item.url}}" target="_blank" ng-repeat="item in $ctrl.fileList track by $index">{{item.title}}</a>-->
            <!--</div>-->
        <!--</div>-->
        <div class="-contact-type">
            <a class="-item" ng-repeat="item in $ctrl.typeList track by $index" ng-href="{{item.url}}" target="_blank">
                <img ng-src="{{item.icon}}" alt="">
            </a>
        </div>
    </div>
</div>