<div class="-page -experience">
    <div class="-contain">
        <div class="-banner" touch-three-d >
            <div class="-experience-content">
                <div class="-left">
                    <div class="-img" style="background-image: url({{$ctrl.exp.imgUrl}})"></div>
                </div>
                <div class="-right">
                    <h4 class="-title">{{$ctrl.exp.title}}</h4>
                    <p class="-time">{{$ctrl.exp.time}}</p>
                    <p class="-post">{{$ctrl.exp.post}}</p>
                    <p class="-tech">{{$ctrl.exp.tech}}</p>
                    <ul class="-list">
                        <li class="-item" ng-repeat="item in $ctrl.exp.contentList track by $index">{{item}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="-shout-cut">
            <ul class="-cut-list" switch-exp>
                <li class="-item" data-index="{{$index}}" ng-repeat="item in $ctrl.cutList track by $index"></li>
            </ul>
        </div>
    </div>
</div>