<div class="-header">
    <div class="-content">
        <div class="-logo"></div>
        <div
            class="-title"
            ng-class="{'-rotate':$ctrl.isShowNav}"
            ng-click="$ctrl.isShowNav = !$ctrl.isShowNav">
            {{$ctrl.titleList[$ctrl.pageIndex]}}
        </div>
        <div class="-language">
            <span ng-repeat="item in $ctrl.langList track by $index" ng-click="$ctrl.switchLang($index)">{{item}}</span>
        </div>
    </div>
    <div class="-header-nav" ng-class="{'-show-nav':$ctrl.isShowNav}" opacity-callback>
        <ul class="-list" selected-nav-item>
            <li
                class="-item"
                data-index="{{$index}}"
                ng-class="{'-cur-index':$ctrl.pageIndex == $index}"
                ng-repeat="item in $ctrl.titleList track by $index">
                {{item}}
            </li>
        </ul>
    </div>
</div>