<div class="-header">
	<div class="-header-head">
		<div class="-header-c">
			<div class="-logo">
				<a class="-logo-c" href="https://github.com/zhaoky" target="_blank"></a>
			</div>
			<div
					show-nav
					class="-header-title"
					ng-class="{'-rotate':$ctrl.isShowNav}"
			 		ng-bind="$ctrl.titleList[$ctrl.pageIndex].title">
			</div>
			<div class="-language">
				<div
						switch-lang
						class="-language-c"
						ng-class="{'-selectEn':$ctrl.selectedLang==2}">
                    <span
		                    data-index="{{$index}}"
		                    ng-class="{'-selected':$ctrl.selectedLang == $index+1}"
		                    ng-repeat="item in $ctrl.langList track by $index"
							ng-bind="item">
                    </span>
				</div>
			</div>
		</div>
	
	</div>
	<div class="-header-nav" ng-class="{'-show-nav':$ctrl.isShowNav}">
		<ul class="-list" selected-nav-item>
			<li
					class="-item"
					ng-class="{'-cur-index':$ctrl.pageIndex == $index}"
					ng-repeat="item in $ctrl.titleList track by $index">
				<em data-index="{{$index}}" ng-bind="item.title"></em>
			</li>
		</ul>
	</div>
	<div class="-header-nav-dot">
		<ul selected-nav-item>
			<li
					ng-class="{'-cur-index':$ctrl.pageIndex == $index}"
					class="-item"
					ng-repeat="item in $ctrl.titleList track by $index">
				<em class="-dot" data-index="{{$index}}">
					<img ng-src="{{item.svg}}" alt="">
				</em>
				<span class="-dot-title" ng-bind="item.title"></span>
			</li>
		</ul>
	</div>
</div>