.-work{
  .-content{
      color: #FFF;
      .-work-list{
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 10px;
        color: #000;
        flex-wrap: wrap;
        .-work-item{
          box-shadow: 0 3px 10px rgba(0,0,0,.2);
          border-radius: 6px;
          padding: 20px;
          background: #fff;
          width: 47%;
          box-sizing: border-box;
          margin-bottom: 50px;
          transition: box-shadow .3s ease;
          &:hover{
            box-shadow: 0 8px 15px rgba(0,0,0,.2);
          }
          .-work-title{
            color: #4985A0;
            margin: 5px 0;
          }
          .-work-tech{
            font-size: 14px;
            color: #5493B0;
          }
          .-work-des{
            font-size: 15px;
            line-height: 22px;
          }
        }
      }
      .-work-more{
        text-align: center;
        a{
          text-decoration:none;
          color: #FFF;
        }
      }
      .-work-switch{
        position: absolute;
        left: 5%;
        right: 5%;
        bottom: 10%;
        height:30px;
        z-index: 1;
        .-left,.-right{
          border-radius: 50%;
          border:1px solid #FFF;
          height:30px;
          width: 30px;
          position: relative;
          &:before{
            content: '';
            display: block;
            width: 35%;
            height: 100%;
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
            border-bottom: 2px solid #FFF;
            position: absolute;
            right: 2px;
            top: 10px;
            transform: rotate(135deg);
          }
          &:after{
            content: '';
            display: block;
            width: 35%;
            height: 100%;
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
            border-top: 2px solid #FFF;
            position: absolute;
            right: 13px;
            top: 10px;
            transform: rotate(45deg);
          }
        }
        .-left{
          float: left;
          transform: rotate(-90deg);
        }
        .-right{
          float: right;
          transform: rotate(90deg);
          &:after{
            right: 15px;
          }
        }
      }
    }
}

@media screen and (max-width: 600px){
  .-work {
    .-content{
      perspective: 2000px;
      .-work-list{
        transform-style: preserve-3d;
        width: 280px;
        height: 60%;
        overflow: visible;
        padding: 0;
        transition: transform 2s;
        .-work-item:nth-child(1){
          transform: translateZ(140px);
        }
        .-work-item:nth-child(2){
          transform: translateZ(-140px) rotateY(180deg);
        }
        .-work-item:nth-child(3){
          transform: translateX(-140px) rotateY(-90deg);
        }
        .-work-item:nth-child(4){
          transform: translateX(140px) rotateY(90deg);
        }
        .-work-item{
          width: 100%;
          height: 100%;
          position: absolute;
          border-radius:0;
        }

      }
      .-work-more{
        margin-top: 15%;
      }
    }
  }
  .-title{
    display: none;
  }
}