<div class="-project">
    <div class="-content">
        <div>
            <ul class="-info-list">
                <li class="-info-item">
                    <div>
                        项目一
                    </div>
                </li>
                <li class="-info-item">
                    <div>
                        项目二
                    </div>
                </li>
                <li class="-info-item">
                    <div>
                        项目三
                    </div>
                </li>
                <li class="-info-item">
                    <div>
                        项目四
                    </div>
                </li>
            </ul>
        </div>
        <div class="-project-des">
            <p>点击进入我的github Demo站！</p>
        </div>
    </div>
</div>