<div class="section">
    <div id="home">
        <div id="home_content">
            <div id="home_head">
                <div id="home_head_content">
                    <img src="image/photo1.jpg" id="home_photo1" alt="" />
                    <img src="image/photo2.jpg" id="home_photo2" alt="" />
                </div>
            </div>
            <div id="home_info">
                <p id="home_info1">生活是一种绵延不绝的渴望,渴望不断上升,变得更伟大而高贵。</p>
                <div id="home_info_box">
                    <p id="home_info2">我叫赵柯宇</p>
                    <p id="home_info3">25岁</p>
                    <p id="home_info4">一名前端研发工程师</p>
                    <p id="home_info5">zhaoky2016@163.com</p>
                </div>
            </div>
        </div>
    </div>
</div>