<div class="-work">
    <div class="-title" ng-bind="$ctrl.title"></div>
    <div class="-content">
        <ul class="-work-list">
            <li class="-work-item" ng-repeat="item in $ctrl.worksList track by $index">
                <h4 class="-work-title" ng-bind="item.title"></h4>
                <p class="-work-des" ng-class="{'-work-des-en':$ctrl.isEng}" ng-bind="item.des"></p>
                <a class="-work-link" ng-href="{{item.url}}"><img src="img/w_link.svg" alt=""></a>
            </li>
        </ul>
        <div class="-work-more">
            <a href="https://github.com/zhaoky/demos" target="_blank" ng-bind="$ctrl.viewMore"></a>
        </div>
        <div class="-work-switch" switch-work>
            <i class="-left"></i>
            <i class="-right"></i>
        </div>
    </div>
</div>