<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>web前端工程师简历</title>
    <meta content="赵柯宇的web前端工程师个人简历，前端学习，前端开发" name="description" />
    <meta content="web前端，FE，web前端个人简历，前端开发" name="keywords" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="fragment" content="!" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
  </head>

  <body id="app" style="display: none">
    <!-- header -->
    <header class="header">
      <div class="title">
        <div class="title-content" v-class="isShowNav?'-rotate':''" v-hide="isPc&&pageIndex===0" v-on:click="titleHandler($event,pageIndex)">{{header.titleList[pageIndex].title}}</div>
      </div>
      <div class="language">
        <div class="-c" v-class="isEng?'-selectEn':''">
          <span class="-item" v-class="isEng == $index?'-selected':''" v-for="(item,$index) in header.langList" v-text="item" v-on:click="switchLang($index)"></span>
        </div>
      </div>
      <div class="nav" v-class="isShowNav?'show-nav':''">
        <ul>
          <li class="nav-item" v-class="pageIndex == $index?'-cur-index':''" v-for="(item,$index)  in header.titleList">
            <span v-on:click="directToPage($index)">
              <span class="-img">
                <span class="-img-content" src="item.svg"></span>
              </span>
              <span class="-title">{{item.title}}</span>
            </span>
          </li>
        </ul>
      </div>
    </header>
    <!-- main -->
    <main id="fullpage">
      <!-- 首页 -->
      <section class="overview">
        <div class="content">
          <div class="info">
            <div class="photo">
              <img src="./assets/hd_2019.jpg" alt="" />
            </div>
            <ul class="-list">
              <li class="-item" v-for="item in overview.infoList">{{item}}</li>
            </ul>
          </div>
          <div class="des">
            <p class="quote">{{overview.quote}}</p>
            <div class="des-list">
              <p v-for="item in overview.desList">{{item}}</p>
            </div>
          </div>
        </div>
      </section>
      <!-- 能力 -->
      <section class="skill">
        <div class="content">
          <div class="skill-circle">
            <ul class="out">
              <li class="item" v-style="item.bg" v-for="item in skill.outCircleList" v-text="item.name"></li>
            </ul>
            <ul class="inner">
              <li class="inner-item" v-style="item.bg" v-for="item in skill.innerCircleList" v-text="item.name"></li>
            </ul>
          </div>
          <div class="des" v-class="isEng?'-des-en':''">
            <p v-for="item in skill.desList" v-text="item"></p>
          </div>
        </div>
      </section>
      <!-- 经历 -->
      <section class="experience">
        <div class="content">
          <div class="slider">
            <div class="slider-container">
              <div class="left">
                <div class="img" v-style="expCur.img"></div>
                <h4>{{expCur.title}}</h4>
                <p class="-post">"{{expCur.post}}"</p>
              </div>
              <div class="right">
                <p class="-time">{{expCur.time}}</p>
                <ul class="-list">
                  <li class="exp-item" v-for="item in expCur.contentList">{{item}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="shout-cut">
            <ul>
              <li v-class="$index == selectExpIndex?'-selected':''" v-for="(item,$index) in exp.expList" v-on:click="switchExp($event,$index)"></li>
            </ul>
          </div>
        </div>
      </section>
      <!-- 作品集 -->
      <section class="work">
        <div class="content">
          <ul class="work-list">
            <li class="work-list-item" v-for="(item,i) in works.worksList" v-style="item.style">
              <div class="-title">
                <a class="-link" v-text="item.title" v-href="item.url"></a>
              </div>
              <p class="-des" v-class="isEng?'-work-des-en':''" v-text="item.des"></p>
              <div class="-qrcode" v-if="item.mini">
                <img class="-img" v-src="item.mini" />
                <p class="-des" v-text="isEng?'(Press in wechat)':'（微信内长按识别）'"></p>
              </div>
              <div class="work-link" v-if="item.url">
                <a class="-img" v-href="item.url" target="_blank"></a>
                <p class="-des" v-if='item.url.indexOf("quickapp")>-1' v-text="isEng?'(Android can jump)':'（安卓浏览器可跳转）'"></p>
              </div>
            </li>
          </ul>
          <div class="more">
            <a href="https://github.com/zhaoky/demos" target="_blank">{{works.viewMore}}</a>
          </div>
          <div class="switch" v-on:click="switchWork($event)">
            <i class="left" v-style="workIndex===0?{filter:'brightness(70%)'}:{}"></i>
            <i class="right" v-style="workIndex===works.worksList.length-1?{filter:'brightness(70%)'}:{}"></i>
          </div>
        </div>
      </section>
      <!-- 联系我 -->
      <section class="contact">
        <div class="content">
          <div class="words" v-class="isEng?'words-en':'' ">
            <span v-for="item in contact.desList1" v-text="item"></span>
          </div>
          <div class="idea">
            <p v-for="item in contact.desList2" v-text="item"></p>
          </div>
          <!-- <div class="download">
            <div class="title" v-text="contact.download"></div>
            <div class="list">
              <a v-href="item.url" target="_blank" v-for="item in contact.fileList " v-text="item.title">item.title</a>
            </div>
          </div> -->
          <div class="way">
            <a class="way-item" v-for="item in contact.typeList" v-href="item.url" target="_blank">
              <img class="way-item-img" v-src="item.icon" alt="" />
            </a>
          </div>
        </div>
        <!-- footer -->
        <footer v-show="pageIndex === 4">
          <div class="github">
            <a href="https://github.com/zhaoky" target="_blank">
              <img src="https://img.shields.io/github/stars/zhaoky/flqin.svg?style=social" alt="github" />
            </a>
          </div>
          <p v-for="item in footer" v-text="item"></p>
        </footer>
      </section>
    </main>
  </body>
</html>
