<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <title>
    web前端工程师简历
  </title>
  <meta content="赵柯宇的web前端工程师个人简历，前端学习，前端开发" name="description" />
  <meta content="web前端，FE，web前端个人简历，前端开发" name="keywords" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="fragment" content="!" />
  <meta name="renderer" content="webkit">
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="pragma" content="no-cache" />
</head>

<body id="app" style="display: none;">
  <!-- header -->
  <header class="header">
    <div class="title">
      <div class="title-content" data-page-index='0'>首页</div>
    </div>
    <div class="nav">
      <ul>
        <li class="nav-item" data-index='0'>
          <span class='-img'>
            <span class='-img-content'></span>
          </span>
          <span class="-title">首页</span>
        </li>
        <li class="nav-item" data-index='1'>
          <span class='-img'>
            <span class='-img-content'></span>
          </span>
          <span class="-title">能力</span>
        </li>
        <li class="nav-item" data-index='2'>
          <span class='-img'>
            <span class='-img-content'></span>
          </span>
          <span class="-title">经历</span>
        </li>
        <li class="nav-item" data-index='3'>
          <span class='-img'>
            <span class='-img-content'></span>
          </span>
          <span class="-title">作品集</span>
        </li>
        <li class="nav-item" data-index='4'>
          <span class='-img'>
            <span class='-img-content'></span>
          </span>
          <span class="-title">联系我</span>
        </li>
      </ul>
    </div>
  </header>
  <!-- main -->
  <main id="fullpage">
    <!-- 首页 -->
    <section class="overview float">
      <div class="content">
        <div class="info">
          <div class="photo">
            <img src="./../assets/hd_2019.jpg" alt="" />
          </div>
          <ul class="-list">
            <li class="-item">29岁</li>
            <li class="-item">本科</li>
            <li class="-item">成都</li>
            <li class="-item">在职</li>
          </ul>
        </div>
        <div class="des">
          <p class="quote">生活是一种绵延不绝的渴望，渴望不断上升，变得更伟大而高贵。</p>
          <div class="des-list">
            <p>我叫赵柯宇，前端开发者</p>
            <p>现聚美优品（成都）电商&增长团队前端负责人</p>
            <p>keyu.zhao@foxmail.com</p>
          </div>
        </div>
      </div>
    </section>
    <!-- 能力 -->
    <section class="skill">
      <div class="content">
        <div class="skill-circle">
          <ul class="out">
            <li class="item" style="background-color: rgba(121,100,102,0.8);">vue</li>
            <li class="item" style="background-color: rgba(49,65,82,0.8);">react</li>
            <li class="item" style="background-color: rgba(76,157,160,0.8);">angular</li>
            <li class="item" style="background-color: rgba(66,66,66,0.8);">nodejs</li>
            <li class="item" style="background-color: rgba(193,131,106,0.8);">小程序</li>
            <li class="item" style="background-color: rgba(117,148,179,0.8);">快应用</li>
            <li class="item" style="background-color: rgba(71,83,94,0.8);">ssr</li>
            <li class="item" style="background-color: rgba(147,147,189,0.8);">ts</li>
          </ul>
          <ul class="inner">
            <li class="inner-item" style="background-color: rgba(179,164,140,0.8);">构建</li>
            <li class="inner-item" style="background-color: rgba(171,209,220,0.8);">优化</li>
            <li class="inner-item" style="background-color: rgba(238,215,163,0.8);">测试</li>
            <li class="inner-item" style="background-color: rgba(207,184,178,0.8);">部署</li>
          </ul>
        </div>
        <div class="des">
          <p>六年前端开发经验，两年管理经验</p>
          <p>实际主导开发过多平台项目（APP，PC，H5，小程序，快应用等），制定并规范团队协作模式</p>
          <p>前端技术栈均有尝试，擅长组件开发及构建优化</p>
          <p>自我驱动力强，写有<a href="https://juejin.im/post/6844904047221145613" target="__blank">webpack</a>、<a href="https://juejin.im/post/6844904120571133965" target="__blank">vue</a>等源码分析系列文章</p>
        </div>
      </div>
    </section>
    <!-- 经历 -->
    <section class="experience">
      <div class="content">
        <div class="slider">
          <div class="slider-container">
            <div class="left">
              <div class="img"></div>
              <h4>聚美优品（成都）</h4>
              <p class="-post">"资深前端工程师/前端负责人"</p>
            </div>
            <div class="right">
              <p class="-time">2017年4月~至今</p>
              <ul class="-list">
                <li class="exp-item">负责聚美优品电商及增长FE团队的日常工作</li>
                <li class="exp-item">参与街电CRM开发，美点无人货架C/S开发等</li>
                <li class="exp-item">主导开发聚美等若干小程序/快应用及增长活动</li>
                <li class="exp-item">优化重构聚美底层若干库如jumei-sdk等</li>
              </ul>
            </div>
          </div>
          <div class="slider-container">
            <div class="left">
              <div class="img"></div>
              <h4>兰途科技</h4>
              <p class="-post">"web前端研发工程师"</p>
            </div>
            <div class="right">
              <p class="-time">2015年6月-2017年4月</p>
              <ul class="-list">
                <li class="exp-item">负责高校校园移动APP相关的H5混合开发</li>
                <li class="exp-item">负责快速构建高质量移动APP/PC/微信页面</li>
                <li class="exp-item">根据业务需求设计合适的工程项目</li>
                <li class="exp-item">高度组件化、模块化思维，拥有各平台调试能力</li>
              </ul>
            </div>
          </div>
          <div class="slider-container">
            <div class="left">
              <div class="img"></div>
              <h4>卓煌企业</h4>
              <p class="-post">"网页开发兼SEO优化"</p>
            </div>
            <div class="right">
              <p class="-time">2014年8月~2015年6月</p>
              <ul class="-list">
                <li class="exp-item">负责各企业站静态页开发及简单交互</li>
                <li class="exp-item">负责网站后台管理页面开发</li>
                <li class="exp-item">负责百度竞价操作及seo优化</li>
                <li class="exp-item">同期工作之余提升自己原生JS的编码能力</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="shout-cut">
          <ul>
            <li data-index='0'></li>
            <li data-index='1'></li>
            <li data-index='2'></li>
          </ul>
        </div>
      </div>
    </section>
    <!-- 作品集 -->
    <section class="work">
      <div class="content">
        <ul class="work-list">
          <li class="work-list-item">
            <div class="-title">
              <a class="-link">聚美优品+ 小程序</a>
            </div>
            <p class="-des">聚美优品+小程序是聚美集团电商业务在微信小程序上的实现，包括普通商品，拼团商品的销售流程及购物流程、用户中心等模块。</p>
            <div class="-qrcode">
              <img class="-img" src='./../assets/w_jm.jpg' />
              <p class="-des">微信内长按识别</p>
            </div>
          </li>
          <li class="work-list-item">
            <div class="-title">
              <a class="-link">鹿尚生活 小程序</a>
            </div>
            <p class="-des">鹿尚生活小程序是聚美集团专柜购业务在微信小程序上的实现，包括专柜购区域选择及提货方式等全套销售流程及购物流程、用户中心等模块。</p>
            <div class="-qrcode">
              <img class="-img" src='./../assets/w_ls.jpg' />
              <p class="-des">微信内长按识别</p>
            </div>
          </li>
          <li class="work-list-item">
            <div class="-title">
              <a class="-link">聚美优品 快应用</a>
            </div>
            <p class="-des">聚美优品快应用是聚美集团电商业务在安卓快应用上的实现，基于手机硬件平台的新型应用形态，为销售途径提供新的渠道。。</p>
            <div class="work-link">
              <a class="-img" href="http://hapjs.org/app/com.jm.quickapp" target="_blank"></a>
              <p class="-des">安卓浏览器可跳转</p>
            </div>
          </li>
          <li class="work-list-item">
            <div class="-title">
              <a class="-link">聚美优品 H5</a>
            </div>
            <p class="-des">聚美集团电商业务移动端的核心承载者，包括前三页，购物流程，用户中心等，通过jsbridge部分页面也在app内广泛应用。</p>
            <div class="work-link">
              <a class="-img" href="https://h5.jumei.com" target="_blank"></a>
            </div>
          </li>
          <li class="work-list-item">
            <div class="-title">
              <a class="-link">聚美优品 增长活动</a>
            </div>
            <p class="-des">聚美集团电商业务的新增长投放项目，电商主要的推广活动承载页面，实现采用多页面架构，支持打包单一活动的工作模式。</p>
            <div class="work-link">
              <a class="-img" href="http://r.jumei.com" target="_blank"></a>
            </div>
          </li>
          <li class="work-list-item">
            <div class="-title">
              <a class="-link">移动校园APP</a>
            </div>
            <p class="-des">一站式、全生命周期的校园官方移动服务平台，涵盖PC、安卓、IOS、微信平台，上线学校包括中央财经大学，北京交通大学，中国戏曲学院，辽宁大学，西南财经大学等等，下载量数十万，深受学生老师喜爱。</p>
            <div class="work-link">
              <a class="-img" href="http://app.cufe.edu.cn/" target="_blank"></a>
            </div>
          </li>
          <li class="work-list-item">
            <div class="-title">
              <a class="-link">web前端工程师简历（2015年版）</a>
            </div>
            <p class="-des">本简历初版，上线一个月后，百度关键词“web前端工程师简历”排名前三，点击量数百万，深受广大前端初学者的好评及模仿，至今搜该关键词百度前10页都处处能见该简历的仿版。</p>
            <div class="work-link">
              <a class="-img" href="http://www.flqin.com/2015/" target="_blank"></a>
            </div>
          </li>
          <li class="work-list-item">
            <div class="-title">
              <a class="-link">@korey/MVVM</a>
            </div>
            <p class="-des">一个简易的MVVM框架，实现了data-binding 和 view-refresh的功能，目前仅服务于本简历项目，仍在不断优化更新，欢迎学习交流</p>
            <div class="work-link">
              <a class="-img" href="https://github.com/zhaoky/mvvm" target="_blank"></a>
            </div>
          </li>
          <li class="work-list-item">
            <div class="-title">
              <a class="-link">@korey/Fullpage</a>
            </div>
            <p class="-des">一个简易的Fullpage框架，实现了上拉下拉，滑轮滚动，锚点直达的全屏翻页功能，目前仅服务于本简历项目，仍在不断优化更新，欢迎学习交流</p>
            <div class="work-link">
              <a class="-img" href="https://github.com/zhaoky/fullpage" target="_blank"></a>
            </div>
          </li>
        </ul>
        <div class="more">
          <a href="https://github.com/zhaoky/demos" target="_blank">github上面查看更多</a>
        </div>
        <div class="switch">
          <i class="left"></i>
          <i class="right"></i>
        </div>
      </div>
    </section>
    <!-- 联系我 -->
    <section class="contact">
      <div class="content">
        <div class="words">
          <span>灵感</span>
          <span>代码</span>
          <span>梦想</span>
          <span>未来</span>
        </div>
        <div class="idea">
          <p>注重效率，偏爱敏捷开发</p>
          <p>喜欢尝试，期待新鲜事物</p>
          <p>前端即兴趣，兴趣即未来</p>
          <p>行路有良友，便是捷径</p>
          <p>带上我吧，一起看到更大的世界</p>
        </div>
        <div class="way">
          <a class="way-item" target="_blank" href="https://github.com/zhaoky">
            <div class='way-item-img'></div>
          </a>
          <a class="way-item" target="_blank" href="https://segmentfault.com/u/fe_korey">
            <div class='way-item-img'></div>
          </a>
          <a class="way-item" target="_blank" href="https://blog.flqin.com">
            <div class='way-item-img'></div>
          </a>
          <a class="way-item" target="_blank" href="https://www.zhihu.com/people/fe_korey">
            <div class='way-item-img'></div>
          </a>
          <a class="way-item" target="_blank" href="https://juejin.im/user/57c91b3b165abd0068db89c2">
            <div class='way-item-img'></div>
          </a>
        </div>
      </div>
      <!-- footer -->
      <footer>
        <p><a href="https://flqin.com/mvvm" target="__blank">简历双语版 (BY MVVM)</a></p>
        <p>All Rights Reserved</p>
        <p>Copyright© 2014-2020 Korey Zhao</p>
        <p></p>
      </footer>
    </section>
  </main>
</body>

</html>
