<div class="-skill">
    <div class="-title" ng-bind="$ctrl.title"></div>
    <div class="-content">
        <div class="-contain" ng-class="{'-contain-en':$ctrl.isEng}">
            <div class="-skill-circle">
                <ul class="-outCircle">
                    <li class="-out"
                        style="background-color:{{item.color}}"
                        ng-repeat="item in $ctrl.outCircleList track by $index"
                        ng-bind="item.name">
                    </li>
                </ul>
                <ul class="-innerCircle">
                    <li class="-inner"
                        style="background-color:{{item.color}}"
                        ng-repeat="item in $ctrl.innerCircleList track by $index"
                        ng-bind="item.name">
                    </li>
                </ul>
            </div>
            <div class="-des" ng-class="{'-des-en':$ctrl.isEng}">
                <p ng-repeat="item in $ctrl.desList track by $index" ng-bind="item"></p>
            </div>
        </div>

    </div>
</div>