<div>
    <resume-header></resume-header>

    <resume-main>

        <resume-default class="page-section"></resume-default>

        <resume-info class="page-section"></resume-info>

        <resume-about class="page-section"></resume-about>

        <resume-skill class="page-section"></resume-skill>

        <resume-demo class="page-section"></resume-demo>

        <resume-experience class="page-section"></resume-experience>

        <resume-expect class="page-section"></resume-expect>

        <resume-contact class="page-section"></resume-contact>

    </resume-main>

    <resume-footer></resume-footer>
</div>