<div>
    <resume-header page-index="zr.pageIndex"></resume-header>

    <resume-main page-index="zr.pageIndex">

        <resume-default class="page-section" page-index="zr.pageIndex"></resume-default>

        <resume-info class="page-section" page-index="zr.pageIndex"></resume-info>
        
        <resume-skill class="page-section" page-index="zr.pageIndex"></resume-skill>

        <resume-experience class="page-section" page-index="zr.pageIndex"></resume-experience>

        <resume-demo class="page-section" page-index="zr.pageIndex"></resume-demo>
        
        <resume-contact class="page-section" page-index="zr.pageIndex"></resume-contact>

    </resume-main>

    <resume-footer></resume-footer>
</div>