<div class="-skill-circle">
    <div>
        <ul class="-outCircle">
            <li class="-out">git</li>
            <li class="-out">webpack</li>
            <li class="-out">gulp</li>
            <li class="-out">less</li>
            <li class="-out">cordova</li>
            <li class="-out">angular</li>
            <li class="-out">nodejs</li>
            <li class="-out">react</li>
        </ul>
    </div>
    <div>
        <ul class="-innerCircle">
            <li class="-inner">es6</li>
            <li class="-inner">vue</li>
            <li class="-inner">ng2</li>
            <li class="-inner">fp</li>
        </ul>
    </div>
</div>