.-skill-circle{
	padding:5px;
	position: relative;
}
.-outCircle{
	width: 292px;
	height: 292px;
	border: 4px dashed #999;
	border-radius: 50%;
	position: relative;
	margin: 0 auto;
	.-html{
		width: 50px;
		height: 50px;
		background-color: #f66;
		border-radius: 50%;
		position: absolute;
		text-align: center;
		line-height: 50px;
		animation: animX 4s cubic-bezier(0.36,0,0.64,1) -2s infinite alternate, animY 4s cubic-bezier(0.36,0,0.64,1) 0s infinite alternate;
	}
}
.-innerCircle{
	width: 192px;
	height: 192px;
	border: 4px dashed #999;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	.-angular{
		width: 20px;
		height: 20px;
		background-color: #f66;
		border-radius: 50%;
		position: absolute;
		animation: animX 4s cubic-bezier(0.36,0,0.64,1) -2s infinite alternate, animY 4s cubic-bezier(0.36,0,0.64,1) 0s infinite alternate;
	}
}
@keyframes animX {
	0% {
		left: -27px;
	}
	100% {
		left: 267px;
	}
}
@keyframes animY {
	0% {
		top: -27px;
	}
	100% {
		top: 267px;
	}
}