<div class="-page -skill">
    <div>
        <div class="-skill-circle">
            <div>
                <ul class="-outCircle">
                    <li class="-out" ng-repeat="item in $ctrl.outCircleList track by $index">{{item}}</li>
                </ul>
            </div>
            <div>
                <ul class="-innerCircle">
                    <li class="-inner" ng-repeat="item in $ctrl.innerCircleList track by $index">{{item}}</li>
                </ul>
            </div>
        </div>
        <div class="-des">
            <p ng-repeat="item in $ctrl.desList track by $index">{{item}}</p>
        </div>
    </div>
</div>