.-experience{
  background: rgb(148, 92, 76) url(../img/bg.png);
  .-content{
    perspective:3000PX;
    .-banner{
      width: 750PX;
      height: 350PX;
      background: #F2F4F5;
      margin:0 auto;
      border: 1PX solid #eee;
      border-radius: 10PX;
      color:#000;
      transition: transform .3s linear;
      overflow: hidden;
      box-shadow: 0 0 25PX rgba(0,0,0,0.5);
      transform-style: preserve-3d;
      .-experience-content{
        transition: opacity 0.3s;
        height: 100%;
        .-left{
          float: left;
          height: 100%;
          position: relative;
          perspective: 800PX;
          transform-style: preserve-3d;
          .-img{
            background: no-repeat center center;
            background-size: 55%;
            width: 150PX;
            height: 100%;
            transform: translateZ(50PX);
          }
          &:after{
            content: "";
            background: #eee;
            width: 1PX;
            position: absolute;
            top: 10%;
            bottom: 10%;
            right: 0;
          }
        }
        .-right{
          padding-left: 50PX;
          float: left;
          height: 100%;
          width: 550PX;
          h4{
            color: #945C4C;
            font-size: 20PX;
          }
          .-time{
            color: #AF7464;
            font-size: 14PX;
          }
          .-post{
            color: #9E6351;
            font-size: 16PX;
          }
          .-tech{
            color: #9E6351;
            font-size: 14PX;
          }
          .-list{
            .-item{
              line-height: 30PX;
              font-size: 16PX;
              position: relative;
              &:before{
                content: "";
                position: absolute;
                top: 50%;
                left: -10PX;
                width: 5PX;
                height: 5PX;
                transform: translateY(-50%);
                border-radius: 50%;
                background-color: #AF7464;
              }
            }
            .-item-en{
              font-size: 14PX;
            }
          }
        }
      }
    }
    .-shout-cut{
      width: 200PX;
      margin: 0 auto;
      padding-top: 50PX;
      .-cut-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 101;
        .-item{
          width: 10PX;
          height: 10PX;
          border-radius: 50%;
          background-color: #623C32;
          cursor:pointer;
          transition: background-color .3s linear;
          position: relative;
          &:before{
            content: '';
            position: absolute;
            top: -15PX;
            right: -15PX;
            left: -15PX;
            bottom: -15PX;
          }
        }
        .-selected{
          background-color: #AF7164;
        }
      }

    }
    .-exp-des{
      margin-top: 50PX;
      color: #FFF;
      text-align: center;
      font-size: 18PX;
    }
  }

}

@media screen and (max-width: 1366PX) {
  .-experience {
    .-content {
      top: 150PX;
      .-shout-cut{
        padding-top: 20PX;
      }
      .-exp-des{
        margin-top: 20PX;
      }
    }
  }
}

@media screen and (max-width: 600PX){
  .-experience{
    .-content{
      top:80PX;
      .-banner{
        width: 90%;
        height: 80%;
        .-experience-content{
          .-left{
            display: none;
          }
          .-right{
            width: 90%;
            margin: 0 auto;
            padding: 0;
            float: none;
            h4{
              font-size: 16PX;
              margin: 10PX 0;
            }
            p{
              margin: 10PX 0;
            }
            .-time{
              font-size: 12PX;
            }
            .-post{
              font-size: 14PX;
            }
            .-tech{
              font-size: 13PX;
            }
            .-list{
              .-item{
                font-size: 12PX;
                line-height: 16PX;
                margin: 12PX 0;
              }
            }
          }
        }
      }
      .-shout-cut{
        padding-top: 35PX;
      }
      .-exp-des{
        display: none;
      }
    }
  }
}
