.-contact{
  color:#FFF;
  .-content{
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    .-contact-des1{
      max-width: 250px;
      font-size: 18px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      span:nth-child(1){
        color:#F00;
      }
      span:nth-child(2){
        color:#3cf;
      }
      span:nth-child(3){
        color:#6c0;
      }
      span:nth-child(4){
        color:#f63;
      }
    }
    .-contact-des2{
    }
    .-contact-download{
      margin-top: 50px;
      color: #59543A;
      .-download-title{
        &:hover{

        }
      }
      .-download-list{
        display: flex;
        justify-content: space-between;
        max-width: 180px;
        margin: 0 auto;
        padding-top: 20px;
        span{
          display: inline-block;
          border: 1px solid #888059;
          border-radius: 5px;
          padding: 5px;
          width: 60px;
          font-size: 12px;

          position: relative;
          -webkit-tap-highlight-color: transparent;
          transform: translateZ(0);
          box-shadow: 0 0 1px transparent;

          &:before,&:after{
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 5px;
            opacity: 0;
            transition: opacity 0.3s;
          }
          &:before{
            bottom: 100%;
            background: radial-gradient(ellipse at 50% 150%, rgba(105, 100, 68, 0.6) 0%, rgba(105, 100, 68, 0) 80%);
          }
          &:after{
            top: 100%;
            background: radial-gradient(ellipse at 50% -50%, rgba(105, 100, 68, 0.6) 0%, rgba(105, 100, 68, 0) 80%);
          }
          &:hover:before,&:hover:after{
            opacity: 1;
          }

        }
      }
    }
    .-contact-type{
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
       .-item{
        border-radius: 50%;
         border: 1px solid #FFF;
         width: 40px;
         height: 40px;
         position: relative;
         img{
           width: 65%;
           position: absolute;
           top: 50%;
           right: 50%;
           transform: translateX(50%) translateY(-50%);
         }
       }
    }
  }


}