<div class="-info">
    <div class="-title" ng-bind="$ctrl.title"></div>
    <div class="-content">
        <div>
            <ul class="-info-list">
                <li class="-info-item" ng-repeat="item in $ctrl.infoList track by $index">
                    <div class="-cont">
                        <div class="-img">
                            <img ng-src="{{item.icon}}" alt="">
                        </div>
                        <div class="-intro" ng-class="{'-intro-en':$ctrl.isEng}">
                            <span ng-bind="item.key"></span>/<span ng-bind="item.value"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="-info-des" ng-class="{'-info-des-en':$ctrl.isEng}">
            <p ng-repeat="item in $ctrl.desList track by $index" ng-bind="item"></p>
        </div>
    </div>
</div>